body{
   background-color:#7c6ae7;
}

.col_left{
   float:left;
   width:35%;
}

.col_right{
   float:left;
   width:65%;
}

#pre{
   background-color:#000; 
   color:#fff; 
   font-size:10px;
   overflow:auto;
   max-height:500px;
}

#pre a {
  color:#02fe15;
  text-decoration:none;
}
